@{
  Layout = "_Layout";
}

<h1>Welcome to World Data!</h1>
<div class="card bg-faded card-block mb-3 p-3">
  <h1>@Model.Name</h1>
  <ul>
    <li>Country Code: @Model.Code</li>
    <li>Continent: @Model.Continent</li>
    <li>Region: @Model.Region</li>
    <li>Capital: @Model.Capital</li>
  </ul>
</div>
<a href="/worlddata" class="btn btn-info">Start!</a>
